.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  box-shadow: 3px 3px rgb(122, 122, 122);
}

.search-button {
  background: burlywood;
  border: none;
  padding: 10px 20px;
  color: white;
  box-shadow: 3px 3px rgb(122, 122, 122);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}