.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(122, 122, 122);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: whitesmoke;
    align-items:center;
    min-width: 40%;
}

.image {
    padding-top: 30px;
    padding-bottom: 5px;
}

.ingredients {
    margin: 10px;
}

.calories {
    margin-bottom: 20px;
}

.title {
    margin: 10px;
}